
/* Default CSS Overwrite*/
@import "../base/include";
html {height:100%; -ms-text-size-adjust: $width-full; -webkit-text-size-adjust: $width-full; line-height: 1.5; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
body { font-family: Gilroy, Sans-Serif,Arial;background:#eee; color: #24272c; font-weight: 400;height:100%; font-size: 18px;
    &.fixed{overflow: hidden;}
}

body, ul, ol, dl, dt, dd, pre, form, fieldset, p, blockquote, th, td { margin: 0; padding: 0px;  }
li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0 }
/* HTML5 Tag */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display:$display-block; }
audio, canvas, progress, video { display:$display-inline-block; }
audio:not([controls]) { display: none; height: 0; }
progress { vertical-align: baseline; }
/* Anchor  */
a { background-color: transparent; text-decoration: none; cursor: $cursor-pointer; color: $brand-text;
transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; }
a img { border: none; display:$display-block; max-width: $width-full; /* margin: $margin-auto; */ }
input:hover, label:hover, textarea:hover, select:hover, button:hover,
input:focus, label:focus, textarea:focus, select:focus, button:focus{ outline:none;}
img{ max-width: $width-full;}
p{line-height: 1.5;;font-size: 16px;font-weight: 400;color: #24272c;}
/* Heading Style  */
h1, h2, h3, h4, h5, h6 {line-height: 1.5; margin: 0px; padding: 0px; color: #24272c; font-weight: 500;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
div{ box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Set Default Property */
mark { background-color: #ff0; color: $black; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position:$position-relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup {top: -0.2em; left: 0.3em; }
img { border-style: none; display: block;}
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp { font-family: inherit; font-size: 1em; }
hr { box-sizing: content-box; height: 0; overflow: $overflow-visible; }
abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong { font-weight: $font-weight-normal; }
dfn { font-style: italic; }
/* Form Elements */
figure { margin: 1em 40px; }
select::-ms-expand {display: none;}
button, input, select, textarea { font: inherit; display: $display-block; margin: $margin0; }
input[type=text]::-ms-clear { display: none; }
optgroup { font-weight: $font-weight-bold; }
button, input { overflow: $overflow-visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
fieldset { border: 1px solid #c0c0c0; }
legend { box-sizing: border-box; color: inherit; display: $display-table; max-width: $width-full; padding: 0; white-space: normal; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: $padding0; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: $height-auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-input-placeholder { color: inherit; opacity: 0.54; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
input:focus,button:focus { outline: none; }

/*Fonts family*/
@font-face {font-family: 'roboto'; src: url('../fonts/roboto-black-webfont.woff2') format('woff2'), url('../fonts/roboto-black-webfont.woff') format('woff'); font-weight: 900; font-style: normal; }
@font-face {font-family: 'roboto'; src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff'); font-weight: 700; font-style: normal; }
@font-face {font-family: 'roboto'; src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face {font-family: 'roboto'; src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face {font-family: 'girnar-rupee'; src: url('../fonts/girnar_rupee.eot'), url('../fonts/girnar_rupee.woff2') format('woff2'), url('../fonts/girnar_rupee.woff') format('woff'), url('../fonts/girnar_rupee.ttf') format('truetype') }
@font-face {font-family: 'Gilroy'; src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff'), url('../fonts/gilroy-bold-webfont.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face {font-family: 'Gilroy'; src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'), url('../fonts/gilroy-heavy-webfont.woff') format('woff'), url('../fonts/gilroy-heavy-webfont.ttf') format('truetype'); font-weight: 900; font-style: normal; }
@font-face {font-family: 'Gilroy'; src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'), url('../fonts/gilroy-light-webfont.woff') format('woff'), url('../fonts/gilroy-light-webfont.ttf') format('truetype'); font-weight: 300; font-style: normal; }
@font-face {font-family: 'Gilroy'; src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff'), url('../fonts/gilroy-medium-webfont.ttf') format('truetype'); font-weight: 500; font-style: normal; }
@font-face {font-family: '../fonts/gilroy-regularuploaded_file'; src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'), url('../fonts/gilroy-regular-webfont.woff') format('woff'), url('../fonts/gilroy-regular-webfont.ttf') format('truetype'); font-weight: 400; font-style: normal; }
.GirnarRupee {font-family: "girnar-rupee"; font-style: normal }

[class^=icon-]{font-family:cd-fonts!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-cd_call:before{content:"\e914";}
.icon-cd_mail:before{content:"\e91f";}
@font-face{font-family:cd-fonts;font-display:block;src:url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.eot?igz0fz=);src:url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.eot?igz0fz=#iefix) format("embedded-opentype"),url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.woff2?igz0fz=) format("woff2"),url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.woff?igz0fz=) format("woff"),url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.ttf?igz0fz=) format("truetype"),url(https://stimg.cardekho.com/pwa/fonts/cd-fonts101.svg?igz0fz=#icomoon) format("svg");font-weight:400;font-style:normal;}

/*For Clear*/
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display:$display-block; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
.clear { clear: both; }
.connectoW100 [id^=connecto_], .connectoW100 [id^=container-notification-frame-] {
    width: 100%!important;
    height: auto !important
}
/***********common********************/
h1{font-size: 28px; font-weight: 700; line-height: 1.29;}
h1 span {font-size: 20px; display: block;}
h2{font-size: 20px; font-weight: 700;line-height: 1.29;color: #24272c}
h3{font-size: 18px; font-weight: 700; line-height: 1.56;}

[type=checkbox]{box-sizing:border-box;padding:0;}
.gs_control{display:inline-block;position:relative;padding-left:34px;cursor:pointer;font-size:14px;color:#24272c;height:20px;vertical-align:middle;}
.gs_control span{font-size:12px;color:rgba(36,39,44,.5);padding-left:7px;}
.gs_control input{position:absolute;z-index:1;opacity:0;}
.gs_control input:checked~.gs_control__indicator{background:#f75d34;border-color:#f75d34;}
.gs_control input:checked:focus~.gs_control__indicator{background:#f75d34;}
.gs_control input:disabled~.gs_control__indicator{background:#fafafa;opacity:.6;pointer-events:none;}
.gs_control input:checked~.gs_control__indicator:after{display:block;}
.gs_control__indicator{position:absolute;top:1px;left:0;height:18px;width:18px;background:#fff;border:1px solid rgba(36,39,44,.5);-webkit-border-radius:2px;border-radius:2px;-webkit-transition:default;transition:default;}
.gs_control__indicator:after{content:"";position:absolute;display:none;}
.gs_checkbox .gs_control__indicator:after{left:5px;top:1px;width:7px;height:12px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.gs_checkbox input:disabled~.gs_control__indicator:after{border-color:#fafafa;}

.text-left{text-align:$text-left;}
.text-right{text-align:$text-right;}
.text-center{text-align:$text-center;}
.posR{ position: $position-relative }
.valid{ display:$display-none!important}

.center-block{display:block;margin-right:auto;margin-left:auto;}
  
.float-right{float:right!important;} 
.float-left{float:left!important;}

.hide{display:none!important;}
.show{display:block!important;}


.truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gsc_Noscroll{overflow: hidden;}
.gsc_Noscroll_ios{overflow: hidden; position: fixed; left: 0; top: 0; right: 0; bottom: 0;}


.truncate2L {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
.truncate4L {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4;
}
.viewAll {
    float: right;
    font-size: 15px;
    font-weight: 500;
    color: #3d84de;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
    span {
      position: relative;
      right: -5px;
    }
}
.sponspored {
  background-color: rgba(255, 255, 255, 0.6);
  color: #474747;
  font-size: 9px;
  border-radius: 1px;
  padding: 4px 9px;
  position: absolute;
  font-weight: 700;
  left: 12px;
  bottom: 13px;
  cursor: pointer;
  display: inline-block;
}
.button {
  background: #f75d34;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 42px;
  width: 100%;
  height: 42px;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
}
.primaryButton {
    width: 165px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgba(36, 39, 44, 0.2);
    display: inline-block;
    line-height: 39px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    background: 0;
}
.playIcon {
    width: 41px;
    height: 41px;
    position: absolute;
    left: 0;
    top: 38%;
    right: 0;
    margin: 0 auto;
}
.overlay {
    width: 0;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    background: rgba(0,0,0,.7);
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    z-index: 99;
}
.open-overlay {
    width: 100%;
    opacity: 1;
}
.shadow {
  -webkit-box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15);
  box-shadow: 0 1px 3px rgba(36, 39, 44, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding: 24px;
}
.viewMore {
  display: inline-block;
  height: 56px;
  text-align: center;
  line-height: 55px;
  font-size: 14px;
  color: #007fff;
  padding: 0 16px;
  font-weight: 700;
  border-radius: 6px;
  border: solid 1px rgba(51, 56, 70, 0.2);
}
.inputfield {
    position: relative;
    input, textarea, select {
      background: #FDFDFD;
      width: 100%;
      height: 42px;
      line-height: 42px;
      border-radius: 2px;
      border: solid 1px rgba(36,39,44,0.15);
      font-size: 16px;
      color: #24272c;
      padding: 0 16px;
      margin-bottom: 16px;
      appearance: none;
      &:focus, &:hover {
        border-color: #f75d34;
      }
    }
    label {
      color: #24272c;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 14px;
      display: block;
      line-height: 1;
      font-weight: 700;
    }
    .error {
        position: absolute;
        bottom: -20px;
        right: 0;
        font-size: 12px;
        color: #ff1e3c;
    }
}
.inputfiles {
  input {
    display: inline-block;
    margin: 0 0 5px;
    color: rgba(36,39,44,.7);
    font-size: 14px;
    font-weight: 400;
  }
  .directions {
    margin-bottom: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(36,39,44,.7);
    font-size: 14px;
    display: block;
  }
}
.inputfield.errorField {
  input, textarea {
    border-color: #ff1e3c!important;
  }
}
.bgGrey {
   background-color: #D8D8D8;
}
.menu-icon {
    flex: 0 0 24px;
    height: 18px;
    span {       
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 2px;
      margin-bottom: 5px;
      display: block;
      &:nth-child(2) {
        width: 80%;
      }
      &:nth-child(3) {
        width: 70%;
        margin: 0;
      }
    }
}
@media screen and (min-width: 768px) {
    h1 {
      font-size: 60px;
      line-height: 1.15;
      span {
         display: block;
      }
    }
    h2 {
      font-size: 22px;
    }
    h3{
      font-size: 22px;
      line-height: 1.27;
    }
     .viewAll {
      font-size: 22px;
      padding-top: 38px;
    }
    .sponspored {
      font-size: 12px;
      border-radius: 4px;
      padding: 4px 9px;
    }
    .playIcon {
      width: 46px;
      height: 46px;
    }
}
@media (max-width:767px){
  .hidden-xs{display:$display-none!important;}  
  .css-carousel {
    white-space: nowrap;
    overflow: auto;
    li {
       display: inline-block;
    }
  }
}
@media (min-width:768px) and (max-width:991px){
  .hidden-sm{display:$display-none!important;}

}
@media (min-width:992px) and (max-width:1199px){
  .hidden-md{display:$display-none!important;}

}
@media (min-width:1200px){
  .hidden-lg{display:$display-none!important;}

}
