@font-face {
 font-family: 'cd-fonts';
  src:  url('https://static.cardekho.com/fonts/cd-fonts56.eot?r5v2k5');
  src:  url('https://static.cardekho.com/fonts/cd-fonts56.eot?r5v2k5#iefix') format('embedded-opentype'),
    url('https://static.cardekho.com/fonts/cd-fonts56.ttf?r5v2k5') format('truetype'),
    url('https://static.cardekho.com/fonts/cd-fonts56.woff?r5v2k5') format('woff'),
    url('https://static.cardekho.com/fonts/cd-fonts56.svg?r5v2k5#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
}

