.width50Per {
    width: calc(50% - 10px);
    float: left;
    padding: 0 5px;
}

.clearfix {
    clear: both;
}

.gsc-co-vWrap {
    position: relative;
}

.gsc-co-vWrap [data-gsco-header] {
    float: left;
    clear: both;
    width:25%;
}

.gsc-co-vWrap [data-gsco-header] {
    background-image: none !important;
    padding-left: 10px !important
}

.gsc-co-vWrap [data-gsco-content] {
    width: calc(70% - 20px);
    background: #fff;
    float: left;
    position: absolute;
    top: 0;
    left: 30%;
}

[data-gsco-wrap] [data-gsco-header] {
    margin: 0;
    /*background-color: #e1e1e1;*/
}

[data-gsco-wrap] > [data-gsco-header] {
    cursor:pointer;
    background: #fff;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 24px 18px 23px 36px;
    margin: 0;
    border-radius: 2px;
    border: solid 1px rgba(36, 39, 44, 0.15);
    font-size: 16px;
    align-items: center;
    color: #24272c;
    font-weight: 700;
    position: relative;
    &.gsc_co_open {
        border-radius: 2px 2px  0 0;
        .icon-plus {
            display: none;
        }
        .icon-minus {
            display: block;
        }
    }
    .title {
        flex: 1;
        padding-right: 132px;
    }
    .assignment {
        padding-left: 30px;
    }
    .weeks, .assignment {
        font-size: 14px;        
        span {
            font-weight: 400;
            display: block;
            color: rgba(36, 39, 44, 0.6);
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    .icon-plus, .icon-minus {
        position: absolute;
        width: 32px;
        height: 32px;
        background: #F77739;
        left: -15px;
        border-radius: 4px;
        text-align: center;
        line-height: 28px;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
    }
    .icon-minus {
        display: none;
    } 
}
/* Pre hide sections with JavaScript on
--- */

[data-gsco-wrap] [data-gsco-header]+[data-gsco-content]{
    padding: 22px 20px;
    display: none;
    border-radius: 0 0 2px 2px;
    border: solid 1px rgba(36, 39, 44, 0.15);
    font-size: 14px;
    color: #24272c;
    background-color: #eee;
    margin-top: -1px;
    color: #878787;
    span {
        display: block;
    }
}


/* Responsive design
--- */

@media screen and (max-width: 767px) {
    .width50Per {
        width: calc(100% - 10px);
    }
    .gsc-co-vWrap [data-gsco-header] {
        width: 100%;
        float: left;
        clear: both;
    }
    .gsc-co-vWrap [data-gsco-header] {
        padding-left: 32px !important;
    }
    .gsc-co-vWrap .gsc_co_open[data-gsco-header] {
        padding-left: 16px !important;
    }
}

@media screen and (max-width: 768px) {
    [data-gsco-wrap] {
        & > [data-gsco-header] {
            padding: 16px 18px 16px 36px;
            .title {
                padding-right: 0;
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
        }
    }
}